@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f8f3d4;
    font-family: 'Roboto', sans-serif;
    color: #f6416c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;

}

h1 {
    margin: 10px;

}

/* background: rgb(255,203,145);
background: linear-gradient(90deg, rgba(255,203,145,1) 0%, rgba(148,235,205,1) 50%, rgba(252,176,69,1) 100%); */

.box {
    background: rgb(255,203,145);
    background: linear-gradient(90deg, rgba(255,203,145,1) 0%, rgba(148,235,205,1) 50%, rgba(252,176,69,1) 100%);
    color: #f6416c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}
.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 45px;
}
